<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  .toolbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    z-index: 10;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }


</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  
  <div class="w-100">
    <div class="d-flex gap-2 px-2 justify-content-end align-items-center">
      <app-search class="heading-search"></app-search>

      <div class="grid">
        <button mat-icon-button aria-label="Toggle to see the grid rearrange">
          <mat-icon>grid_on</mat-icon>
        </button>
      </div>

      <div class="avatar">
        <button
          mat-mini-fab
          color="primary"
          aria-label="Login and out of the application"
        >
          <mat-icon>person</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="content" role="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-0">
        <app-banner caption="Find all your connectors at one place"></app-banner>
      </div>
    </div>

    <div class="row">
      <div class="col-12 py-2">
        <app-card-list></app-card-list>
      </div>
    </div>

  </div>

</div>

<!-- <router-outlet></router-outlet> -->
